*, *::before, *::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
  padding-bottom: env(safe-area-inset-bottom);
}

button {
  font-family: inherit;
}

input, textarea {
  font-family: inherit;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #E5E5E5;
  border-radius: 2px;
}
